{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 100,
  "trailingComma": "all",
  "importOrder": [
    "^(.*)nestjs(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^(.*)variables(.*)$",
    "^(.*)\\.modules|\\.module(.*)$",
    "^(.*)\\.controller(.*)$",
    "^(.*)\\.service(.*)$",
    "^(.*)entity(.*)$",
    "^(.*)guard(.*)$",
    "^(.*)decorator(.*)$",
    "^(.*)interceptor(.*)$",
    "^(.*)swagger(.*)$",
    "^(.*)constant(.*)$",
    "^(.*)dto(.*)$",
    "^./[^s]",
    "^[./]"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"]
}
